<p id="notice"><%= notice %></p>

<p>
  <strong>Real name:</strong>
  <%= @img.real_name %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @img.image_name %>
</p>

<%= link_to 'Edit', edit_img_path(@img) %> |
<%= link_to 'Back', imgs_path %>





