<body bgcolor="sky blue">
<h2>Go To</h2>
<%#= link_to 'me', geeta_me_path %>
<%= link_to 'new form', new_region_path %>

<h1>Listing regions</h1>
<table>
  <tr>
    <th>region_Name</th>
    <th colspan="3">Show and Edit</th>
  </tr>
 
  <% @regions.each do |region| %>
    <tr>
      <td><%= region.region_name %></td>
     
     
      <td><%= link_to 'Show', region_path(region) %></td>
      <td><%= link_to 'Edit', edit_region_path(region) %></td>
      <td><%= link_to 'Delete', region_path(region),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%#= link_to 'Show', company_path(:company) %>
</body>
